<!DOCTYPE html>
 <html lang="ja" xmlns:th="http://www.thymeleaf.org">
 <head th:replace="~{layout :: head(アルバム一覧)}"></head>
 <body>
   <div th:replace="~{layout :: header}"></div>
   <h3>患者登録</h3>
    <form th:action="@{/lists/new}" th:object="${patientForm}" method="post">
       <div>
           <label for="ListId">ID：</label>
           <input type="text" id="ListId" name="ListId" th:field="*{ListId}">
       </div>
       <div>
           <label for="name">氏名：</label>
           <input type="text" id="name" name="name" th:field="*{name}">
       </div>
       <div>
           <label for="latestBookingDate">予約日：</label>
           <input type="date" id="latestBookingDate" name="latestBookingDate" th:field="*{latestBookingDate}">
       </div>
       <div>
           <label for="place">場所：</label>
           <input type="text" id="place" name="place" th:field="*{place}">
       </div>
       <button type="submit">追加</button>
   </form>
   <div th:replace="~{layout :: footer}"></div>
 </body>
 </html>