<!DOCTYPE html>
 <html lang="ja" xmlns:th="http://www.thymeleaf.org">
 <head th:replace="~{layout :: head(患者詳細)}"></head>
 <body>
 <div th:replace="~{layout :: header}"></div>
 <h3>患者詳細</h3>
 <table>
    <tr>
        <th>患者ID</th>
        <td th:text="${patient.ListId}"></td>
    </tr>
    <tr>
        <th>氏名</th>
        <td th:text="${patient.name}"></td>
    </tr>
    <tr>
        <th>年齢</th>
        <td th:text="${patient.age}"></td>
    </tr>
    <tr>
        <th>血液型</th>
        <td th:text="${patient.bloodType}"></td>
    </tr>
    <tr>
        <th>病名</th>
        <td th:text="${patient.diseaseName}"></td>
    </tr>
    <tr>
        <th>症状</th>
        <td th:text="${patient.symptoms}"></td>
    </tr>
    <tr>
        <th>予約日</th>
        <td th:text="${#temporals.format(patient.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
    </tr>
 </table>
 <a href="/lists">一覧に戻る</a>
 <div th:replace="~{layout :: footer}"></div>
 </body>
 </html>